<!DOCTYPE html>
<html>
<head>
  <title>Fatebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'normalize' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='fatebook'>

<%= yield %>


  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>

  <!--    Core App-->
  <!-- <script src="/scripts/app.js"></script> -->

  <!--    Services-->
  <!-- <script src="/scripts/services/StoryNavSrv.js"></script> -->
  <%= javascript_include_tag 'ng-app/services/StoryNavSrv' %>

  <!--    Controllers-->
  <!-- <script src="/scripts/controllers/StoryNavCtrl.js"></script> -->
  <%= javascript_include_tag 'ng-app/controllers/StoryNavCtrl' %>

</body>
</html>
