<!DOCTYPE html>
<html>
<head>
  <title>Fatebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'normalize' %>
  <%= stylesheet_link_tag    'authoring_tools' %>
  <%= stylesheet_link_tag    'stories' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='fatebook'>

  <!-- <%= yield  %> -->

  <!-- REVIEW why can't I use ng-include? -->
  <div ng-include="'login_form.html'"></div>

  <ui-view></ui-view>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>

  <!--    Services-->
  <%= javascript_include_tag 'ng-app/services/StorySrv' %>
  <%= javascript_include_tag 'ng-app/services/PageSrv' %>
  <%= javascript_include_tag 'ng-app/services/BranchSrv' %>
  <%= javascript_include_tag 'ng-app/services/SessionSrv' %>
  <%= javascript_include_tag 'ng-app/services/UserSrv' %>

  <!--    Controllers-->
  <%= javascript_include_tag 'ng-app/controllers/StoryNavCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/LandingCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/StoryCreateCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/StoryEditCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/PageEditCtrl' %>

  <!-- TODO delete this? -->
  <%= javascript_include_tag 'ng-app/controllers/LoginCtrl' %>


</body>
</html>
