<!DOCTYPE html>
<html>
<head>
  <title>Fatebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'login' %>
  <%= stylesheet_link_tag    'navbars' %>
  <%= stylesheet_link_tag    'authoring_tools' %>
  <%= stylesheet_link_tag    'play_adventure' %>
  <%= stylesheet_link_tag    'stories' %>
  <%= stylesheet_link_tag    'normalize' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='fatebook'>
  <div ng-include="'top_nav.html'"> </div>
  <div ng-include="'side-nav.html'"></div>

  <div class='container'>
    <ui-view></ui-view>
  </div>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>

  <script src="https://cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
<!--  <script src=" https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.js"></script>-->
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app' %>

  <!--    Services-->
  <%= javascript_include_tag 'ng-app/services/StorySrv' %>
  <%= javascript_include_tag 'ng-app/services/PageSrv' %>
  <%= javascript_include_tag 'ng-app/services/BranchSrv' %>
  <%= javascript_include_tag 'ng-app/services/SessionSrv' %>
  <%= javascript_include_tag 'ng-app/services/UserSrv' %>

  <!--    Controllers-->
  <%= javascript_include_tag 'ng-app/controllers/StoryNavCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/StoryCreateCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/StoryEditCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/PageEditCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/LoginCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/SideNavCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/UserStoriesCtrl' %>
  <%= javascript_include_tag 'ng-app/controllers/StoryPreviewCtrl' %>

</body>
</html>
